/*
Theme Name: Majestic KB Theme
Author: Irwing Naranjo
Author URI: https://majestic-kb.com
Description: Theme dedicated to Majestic KB
Version: 1.0
*/


/*
*	General Styles
*/
body{
	background: #000;
}
a{
	text-decoration: none;
	color: #FFF;
}
.btn-theme{
	background: #FAD435 !important;
	padding: 7px;
	margin: 20px 0px;
	min-width: 100px;
	font-weight: bold;
	white-space: normal;
	border: 0px !important;
}
.map{
	width: 100%;
	height: 526px;
}
.wpcf7 .wpcf7-submit{
	background: #FAD435;
	padding: 7px;
	min-width: 100px;
	font-weight: bold;
	border: 0px;
	border-radius: 3pt;
}
.img-responsive{
	width: 100% !important;
}
.slideshowlink{display: none;}
.ngg-galleryoverview {
    margin-top: 0px !important;
}
.ngg-gallery-thumbnail-box {
    margin-right: 0px !important;
}
.ngg-gallery-thumbnail img {
    background-color: #fff !important;
    border: 1px solid #000 !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    height: 100% !important;
}





/*
*	1.0 - Top Bar
*/
.row1{
	height: 38px;
	background: #0E1212;
}
	.row1 .top-bar{
		line-height: 35px;
		color: #FFF;
	}
	.row1 .top-bar-left{
		text-align: left;
	}
	.row1 .top-bar-right{
		text-align: right;
	}
		.row1 .top-bar-right a{
			padding: 5px;
			color: #FFF;
		}
		.row1 .top-bar-right a:hover{
			color: #FAD435;
		}
/*
*	End Top Bar
*/


/*
*	2.0 - Header
*/
.row2{
	padding: 20px 50px;
}
	.row2 .logo{
		line-height: 110px;
	}
	.row2 .logo img{
		width: 100%;
	}
	.row2 .contact-phone{
		line-height: 120px;
		font-size: 22pt;
		text-align: right;
	}
	.row2 .contact-phone .phone{
		color: #FAD435;
	}
	.row2 .contact-phone a{
		color: #FFF;
		text-decoration: none;
	}
/*
*	End Header
*/


/*
*	3.0 - Primary Nav
*/
.row3{
	padding: 20px 50px;
}
.navbar li a:hover {
    color: black !important;
    background: #FAD435 !important;
}
.rowslider{
	padding: 0px 49px;
}
/*
*	End Primary Nav
*/


/*
*	4.0 - Content Main
*/
.row4{
	color: #FFF;
	padding: 20px 50px 20px 50px;
}
	.img-slider{
		height:100%;
		width: 100%;
	}
	.item-slider{
		height:500px;
	}
	.row4 h1{
		text-align: center;
		padding: 20px 50px;
	}
	.row4 p, .row4 p strong, .row4 p span{
		padding: 0px 20px;
		color: #FFF !important;
		text-align: justify !important;
		color: #000;
	}
	.row4 .page .pageTitle h1{
		color: #FAD435;
		font-weight: bold;
		margin-top: 0px;
	}

	.row4 .post{
		background: #FFF;
		text-align: center;
		color: #000;
		padding: 0px;
	}
		.row4 .post .postImage img{
			width: 100%;
			height: 100%;
			border-bottom: 4px solid #FAD435;
			box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
		}
		.row4 .postTitle{
			text-align: left;
			padding: 10px 20px 0px 20px;
		}
			.row4 .post .postTitle a{
				color: #FAD435;
				font-weight: bold;
				font-size: 14pt;
			}
		.row4 .postContent p{
			text-align: justify;
			padding: 5px 20px 20px 20px;
			color: #000 !important;
		}

		.row4 .postSingle{
			background: none;
		}
			.row4 .postSingle .postImage{
				display:inline-block;
				width:100%;
				/*height: 300px;*/
			}
			.row4 .postSingle .postTitle{
				background: rgba(0,0,0,0.6);
				position: relative;
				/*top: -54px;*/
				height: 50px;
			}
			.row4 .postSingle .postContent *{
				color: #FFF !important;
			}
			.row4 .postSingle .comments{
				background: #0E1212;
				text-align: left;
				padding: 20px;
				margin: 15px;
			}
			.comments>h3{
				color:#FAD435;
			}
			.commentlist{
				color:white;
				padding: 0px;
				list-style: none;
			}
			.row4 .postSingle .comment-reply-title{
				margin: 0px;
				padding: 10px 0px;
				color: #FFF;
			}
			.row4 .postSingle .comment p{ padding: 0px; }
			.row4 .postSingle .logged-in-as{ margin: 0px; }
			.row4 .postSingle .logged-in-as a{ color: #FFF; }
			.row4 p{
				padding: 0px;
			}
			.row4 .postSingle .comment-form-comment label{
				margin-top: 20px;
				width: 100%;
				color: #FFF;
			}
			.row4 .postSingle textarea#comment{	
				border-radius: 0px;
				padding: 10px;
				width: 100%;
			}
			.row4 #comment, .row4 .form-submit #submit{
				display: block;
				padding: 6px 12px;
				font-size: 14px;
				line-height: 1.42857143;
				color: #555;
				background-color: #fff;
				background-image: none;
				border: 1px solid #ccc;
			}
			.row4 img {
			    height: auto;
			    width: -moz-available;
			    width: -webkit-fill-available;
			}
			.row4 .avatar {
			    height: auto !important;
			    width:auto !important;
			}
			/*testimo*/
			/*.vc-testimo-addon.vc-testimo-layout-3 .vc_row .testimo-content-wrapper {
			    padding-top: 25% !important;
			    padding-bottom: 25% !important;
			}*/
			.vc_column_container > .vc_column-inner {
			    padding-left: 0px !important;
			    padding-right: 0px !important;
			}
			.row>.vc_row-fluid{
				padding-right: 15px !important;
				padding-left: 15px !important;	
			}
			.vc_row {
				
			    margin-left: 0% !important;
				margin-right: 0% !important;
				padding: 0px;
			}
			.vc_column_container {
			    padding-left: 0% !important;
			    padding-right: 0% !important;
			}
			.margin-wpcr3_in_content {
    			margin: 0px 15px !important;
			    
			}

			div.wpcr3_rating_style1_average {
			    background: transparent url("/wp-content/plugins/wp-customer-reviews/css/newstars.png") no-repeat scroll 0px -16px !important;
			    height: 15px !important;
			}
			.text-input,textarea {
				color:black !important;
			}
			/*end testimo*/
			/*contact us*/
			div.wpcf7 img.ajax-loader {
			    height: 15px;
			    width: 15px;
			}
			/*end contact us*/
/*
*	End Content Main
*/


/*
*	5.0 - Content Footer
*/
.row5{
	padding: 0px 50px;
}
	.row5 .container .footer-img{
		width: 100%;
		height: 380px;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		opacity: 0.9;
	}

	.row5 .container .footer-img .information-footer{
		background: rgba(0,0,0,0.5);
		height: 100%;
		padding: 10px 20px;
	}
		.row5 .container .footer-img .information-footer .titleRow{
			color: #FFF;
			text-align: center;
			margin-bottom: 50px;
		}
		.row5 .container .footer-img .information-footer p{
			color: #FFF;
			text-align: justify;
			margin-bottom: 50px;
		}
		.row5 .container .footer-img .information-footer .socials{
			text-align: center;
		}
			.row5 .container .footer-img .information-footer .socials i{
				font-size: 24pt;
				margin: 0px 10px;
			}
		.row5 .container .footer-img .information-footer .contact-information span{
			display: block;
			margin: 20px 0px;
			color: #FFF;
		}
			.row5 .container .footer-img .information-footer .contact-information i{
				font-size: 16pt;
				color: #FAD435;
				text-align: center;
			}

/*
*	End Content Footer
*/


/*
*	6.0 - Footer
*/
.row6{
	background: #0E1212;
	margin-top: 30px;
	padding: 20px 50px;
}
	.row6 .footer{
		line-height: 35px;
		color: #FFF;
	}
	.row6 .footer-left{
		text-align: left;
	}
	.row6 .footer-right{
		text-align: right;
	}
		.row6 .footer-right a{
			padding: 5px;
			color: #FFF;
		}
		.row6 .footer-right a:hover{
			color: #FAD435;
		}
}
/*
*	End Footer
*/


/*
* 	Start Media Queries
*/
@media (max-width: 1024px) {
	/* Slider */
	.carousel-control, .item-slider{ height:460px;	}
	.container-fluid{ height: 70px; z-index: 100; }
}
@media (max-width: 990px) {
	.container {
	    width: auto;
	}
}
@media (max-width: 991px) {
	.map{top: 30px;}
	.row5 .map iframe { padding: 0px 40px; }
	.row6 .footer-left,
	.row6 .footer-right{
		text-align: center;
	}
}
@media (max-width: 900px) {
	/* Slider */
	.carousel-control, .item-slider{ height:400px;	}
}
@media (max-width: 800px) {


	.row2 .img-logo{ width: 50%; }
	.carousel-control, .item-slider{ height:350px; }
	.container-fluid { background: #000 !important; }
	.navbar{ z-index: 300; }
	.navbar li{ padding: 0px 20px; }
	.navbar-collapse, .collapse{ overflow: hidden; }
}
@media (max-width: 768px) {
	.row2 .contact-phone { line-height: 0; margin: 40px 0px 20px 0px; font-size: 2.5rem; text-align: center; }	
	.carousel-control, .item-slider{ height:350px;	}
}
@media (max-width: 700px) {
	/* Slider */
	.carousel-control, .item-slider{ height:350px;	}
}
@media (max-width: 600px) {
	/* Slider */
	.carousel-control, .item-slider{ height:300px;	}
}
@media (max-width: 500px) {
	/* Slider */
	.rowslider { padding: 0px 20px;}
	.carousel-control, .item-slider{ height:250px;	}
	.row2 { padding: 0px 20px;}
	.row3 { padding: 0px 20px;}
	.row4 { padding: 0px 20px; }
	.row4 h1{ padding: 0px 10px; }
	.row5 { padding: 0px 20px; }
	.row5 .contact { padding: 0px 0px; }
	.row5 .contact .form-group { padding: 0px 0px; }
	.row5 .map{top: 0px;}
	.row5 .map iframe { padding: 0px 0px; }
	#top-link-block {
	    left: 7px !important;
	    bottom: 21px !important;
	}
	#top-link-block > a {
	    padding: 11px !important;
	}
}
@media (max-width: 400px) {
	.row2 .contact-phone { margin: 10px 0px 10px 0px; font-size: 2rem; }

	/* Slider */
	.carousel-control, .item-slider{ height:200px;	}
}
@media (max-width: 300px) {
	/* Slider */
	.carousel-control, .item-slider{ height:150px;	}
}
@media (max-width: 260px) {
	/* Slider */
	.carousel-control, .item-slider{ height:120px;	}
}
/*
* 	End Media Queries
*/

.navbar-fixed-top{
	margin-top: 70px;
}
.content-container {
	margin: 0 130px;
}


#top-link-block {
    position: absolute; /* allows it to "slide" up into view */
    bottom: -82px;
    left: 10px;
    z-index: 1;
}
#top-link-block {
    position: fixed;
	bottom: 27px;
	left: 13px
}
#top-link-block > a {
	background:   rgba(255, 252, 252, 0.1) none repeat scroll 0% 0%;
	border: 0px solid #E3E3E3;
	border-bottom: 5px solid #FAD435;
	border-radius: 0px;
	padding: 10px 16px;
}
#top-link-block >a:hover {
    color: #FAD435;
    text-decoration: underline;
}
#top-link-block >a:focus {
    color: #FAD435;
    text-decoration: underline;
}